<h1>Render the basket conent here</h1>
{{#if data}}
  {{#each data}}

    <div data-id={{product_id}} class='basket-product-card'>
      <img src={{image_url}} alt='' />
      <div class='product-info'>
        <h4>{{name}}</h4>
        <p><b>&euro;{{price}}</b></p>
        <p>Quantity: <b class='order-quantity'></b></p>
        <button class='btn btn-primary'>Add to basket</button>
      </div>
    </div>

  {{/each}}
{{/if}}