<div
  id='carouselExampleIndicators'
  class='carousel slide mb-5 ms-2 me-2'
  data-bs-ride='carousel'
>
  <div class='carousel-indicators'>
    <button
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide-to='0'
      class='active'
      aria-current='true'
      aria-label='Slide 1'
    ></button>
    <button
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide-to='1'
      aria-label='Slide 2'
    ></button>
    <button
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide-to='2'
      aria-label='Slide 3'
    ></button>
  </div>
  <div class='carousel-inner'>
    <div class='carousel-item active'>
    </div>
    <div class='carousel-item'>
    </div>
    <div class='carousel-item'>
    </div>
  </div>
  <button
    class='carousel-control-prev'
    type='button'
    data-bs-target='#carouselExampleIndicators'
    data-bs-slide='prev'
  >
    <span class='carousel-control-prev-icon' aria-hidden='true'></span>
    <span class='visually-hidden'>Previous</span>
  </button>
  <button
    class='carousel-control-next'
    type='button'
    data-bs-target='#carouselExampleIndicators'
    data-bs-slide='next'
  >
    <span class='carousel-control-next-icon' aria-hidden='true'></span>
    <span class='visually-hidden'>Next</span>
  </button>
</div>

<h2 class='mb-3 ms-2'>Our plants collection</h2>

<div class='container products'>
  <div class='row gy-4'>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div data-id='1' class='product-card'>
        <img src='/images/_abe88abd-b164-40ad-b098-88fba00d0ef1.jpg' alt='' />
        <div class='product-info'>
          <h4>Name</h4>
          <p>product ratings</p>
          <p>Some description about the product</p>
          <p><b>&euro;12.5</b></p>
          <button class='btn btn-primary'>Add to basket</button>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div data-id='2' class='product-card'>
        <img src='/images/_c851d7e2-fc01-4a63-800b-65caffb18d96.jpg' alt='' />
        <div class='product-info'>
          <h4>Name</h4>
          <p>product ratings</p>
          <p>Some description about the product</p>
          <p><b>&euro;8.5</b></p>
          <button class='btn btn-primary'>Add to basket</button>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div data-id='3' class='product-card'>
        <img src='/images/_b64a80f4-3a08-45ab-8da6-b8244c914bee.jpg' alt='' />
        <div class='product-info'>
          <h4>Name</h4>
          <p>product ratings</p>
          <p>Some description about the product</p>
          <p><b>&euro;18.0</b></p>
          <button class='btn btn-primary'>Add to basket</button>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div data-id='4' class='product-card'>
        <img src='/images/_62385065-3ae2-4a81-83f8-81be21a7cb5f.jpg' alt='' />
        <div class='product-info'>
          <h4>Name</h4>
          <p>product ratings</p>
          <p>Some description about the product</p>
          <p><b>&euro;17</b></p>
          <button class='btn btn-primary'>Add to basket</button>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div data-id='5' class='product-card'>
        <img src='/images/_4851ea98-c2c0-45f4-bfa4-4492c7411fe3.jpg' alt='' />
        <div class='product-info'>
          <h4>Name</h4>
          <p>product ratings</p>
          <p>Some description about the product</p>
          <p><b>&euro;6</b></p>
          <button class='btn btn-primary'>Add to basket</button>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div data-id='6' class='product-card'>
        <img src='/images/_8a6a2f3a-3cb0-4d5a-94d7-53cd14c3dbbe.jpg' alt='' />
        <div class='product-info'>
          <h4>Name</h4>
          <p>product ratings</p>
          <p>Some description about the product</p>
          <p><b>&euro;6</b></p>
          <button class='btn btn-primary'>Add to basket</button>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div data-id='7' class='product-card'>
        <img src='/images/_1a16d159-4cf5-4c7a-9291-bf8772482b23.jpg' alt='' />
        <div class='product-info'>
          <h4>Name</h4>
          <p>product ratings</p>
          <p>Some description about the product</p>
          <p><b>&euro;6</b></p>
          <button class='btn btn-primary'>Add to basket</button>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div data-id='5' class='product-card'>
        <img src='/images/_dba55c0f-1faa-4a5a-8c08-16956f865b8f.jpg' alt='' />
        <div class='product-info'>
          <h4>Name</h4>
          <p>product ratings</p>
          <p>Some description about the product</p>
          <p><b>&euro;6</b></p>
          <button class='btn btn-primary'>Add to basket</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if data}}
  {{#each data}}
    <ul>
      <li>{{first_name}}</li>
      <li>{{last_name}}</li>
    </ul>
  {{/each}}
{{/if}}