<h1>Planet Plants</h1>

<div
  id='carouselExampleIndicators'
  class='carousel slide mb-5'
  data-bs-ride='carousel'
>
  <div class='carousel-indicators'>
    <button
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide-to='0'
      class='active'
      aria-current='true'
      aria-label='Slide 1'
    ></button>
    <button
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide-to='1'
      aria-label='Slide 2'
    ></button>
    <button
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide-to='2'
      aria-label='Slide 3'
    ></button>
  </div>
  <div class='carousel-inner'>
    <div class='carousel-item active'>
    </div>
    <div class='carousel-item'>
    </div>
    <div class='carousel-item'>
    </div>
  </div>
  <button
    class='carousel-control-prev'
    type='button'
    data-bs-target='#carouselExampleIndicators'
    data-bs-slide='prev'
  >
    <span class='carousel-control-prev-icon' aria-hidden='true'></span>
    <span class='visually-hidden'>Previous</span>
  </button>
  <button
    class='carousel-control-next'
    type='button'
    data-bs-target='#carouselExampleIndicators'
    data-bs-slide='next'
  >
    <span class='carousel-control-next-icon' aria-hidden='true'></span>
    <span class='visually-hidden'>Next</span>
  </button>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4'>
      <img
        class='rounded'
        src='https://firebasestorage.googleapis.com/v0/b/indoor-jungle.appspot.com/o/plantsPhotos%2FfJ78wu6JJnb1Ga7XwhkIULPaYBB2%2Fmonstera%20adansonii.jpg?alt=media&token=544b1f02-131d-4471-9df1-c30bbb32ffba'
        alt=''
      />
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4'>
      <img
        class='rounded'
        src='https://firebasestorage.googleapis.com/v0/b/indoor-jungle.appspot.com/o/plantsPhotos%2FfJ78wu6JJnb1Ga7XwhkIULPaYBB2%2Fmonstera%20deliciosa.jpg?alt=media&token=7abd4113-e9a8-48f7-9979-6acd16019edf'
        alt=''
      />
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4'>
      <img
        class='rounded'
        src='https://firebasestorage.googleapis.com/v0/b/indoor-jungle.appspot.com/o/plantsPhotos%2FfJ78wu6JJnb1Ga7XwhkIULPaYBB2%2Fcaladium.jpg?alt=media&token=2af50958-5645-483c-88ce-f618c17f9f92'
        alt=''
      />
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4'>
      <img
        class='rounded'
        src='https://firebasestorage.googleapis.com/v0/b/indoor-jungle.appspot.com/o/plantsPhotos%2FfJ78wu6JJnb1Ga7XwhkIULPaYBB2%2Fpink%20princess.jpg?alt=media&token=a42e3b72-3b6b-44fa-9154-6d130062f4b1'
        alt=''
      />
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4'>
      <img
        class='rounded'
        src='https://firebasestorage.googleapis.com/v0/b/indoor-jungle.appspot.com/o/plantsPhotos%2FfJ78wu6JJnb1Ga7XwhkIULPaYBB2%2Fdracaena.jpg?alt=media&token=5f5de028-2906-4c7c-b7af-6be05ac5ed9b'
        alt=''
      />
    </div>
  </div>
</div>
{{#if data}}
  {{#each data}}
    <ul>
      <li>{{first_name}}</li>
      <li>{{last_name}}</li>
    </ul>
  {{/each}}
{{/if}}