:root {
  --custom-color-1: #ffeaed;
  --custom-color-2: #ffb6c1;
  --custom-color-3: #0f1626;
  --custom-color-4: #a8a4a4;
  --custom-color-5: #ff5f77;
}

body {
  background-color: var(--custom-color-3);
}

* {
  color: var(--custom-color-1);
}

nav.navbar {
  background-color: var(--custom-color-1) !important;
  border-bottom: 5px solid var(--custom-color-2);
  margin-bottom: 40px;
}

a:not(nav.navbar a) {
  color: var(--custom-color-2) !important;
}

a:visited:not(nav.navbar a),
a:active:not(nav.navbar a) {
  color: var(--custom-color-4) !important;
}

.carousel.slide .carousel-item {
  height: 400px;
}

.carousel.slide .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel.slide .carousel-item:nth-of-type(1) {
  background-image: url(https://img.freepik.com/premium-photo/banner-pink-planet-earth-sphere-ball-with-plants-greenery-pink-background-earth-day-ecology_218479-76.jpg);
}
.carousel.slide .carousel-item:nth-of-type(2) {
  background-image: url(https://img.freepik.com/premium-photo/banner-pink-planet-earth-sphere-ball-with-plants-greenery-pink-background-earth-day-ecology_218479-76.jpg);
}
.carousel.slide .carousel-item:nth-of-type(3) {
  background-image: url(https://img.freepik.com/premium-photo/banner-pink-planet-earth-sphere-ball-with-plants-greenery-pink-background-earth-day-ecology_218479-76.jpg);
}

.fa.fa-shopping-cart {
  position: relative;
  color: var(--custom-color-3);
  margin-top: 4px;
  z-index: 10;
}

.fa.fa-pagelines {
  position: absolute;
  color: green;
  top: 4;
  right: 10px;
  display: none;
}

.fa.fa-pagelines.show {
  display: inline-block;
}

#shopping-basket {
  position: relative;
}

#basket-items-count {
  position: absolute;
  top: 0;
  right: -6px;
  color: var(--custom-color-5);
}

#basket-items-count.two-digits {
  right: -13px;
}

.row img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container.products div.product-info {
  padding: 20px 10px;
  background-color: var(--custom-color-1);
}

.container.products div.product-info * {
  color: var(--custom-color-3);
}

.btn.btn-primary {
  color: var(--custom-color-3);
  background-color: var(--custom-color-2);
  border: none;
  transition: all 0.1s linear;
  border: 2px solid var(--custom-color-5);
  box-sizing: border-box !important;
  width: 140px;
  max-width: 140px;
  font-weight: bold;
}

.btn.btn-primary:hover {
  background-color: var(--custom-color-5);
  color: var(--custom-color-1) !important;
}

.product-card,
.basket-product-card {
  border: 3px solid var(--custom-color-2);
  border-radius: 8px;
  overflow: hidden;
}

.nav-link {
  border-bottom: 2px solid transparent;
  padding-bottom: 6px;
}

.nav-link.active {
  border-bottom: 2px solid var(--custom-color-3);
}

#login-form {
  max-width: 800px;
  margin: auto;
}

[href='/logout'] {
  display: none;
}
