:root {
  --custom-color-1: #ffeaed;
  --custom-color-2: #ffb6c1;
  --custom-color-3: #0f1626;
  --custom-color-4: #a8a4a4;
  --custom-color-5: #ff5f77;
}

body {
  background-color: var(--custom-color-3);
}

* {
  color: var(--custom-color-1);
}

nav.navbar {
  background-color: var(--custom-color-1) !important;
  border-bottom: 5px solid var(--custom-color-2);
  margin-bottom: 40px;
}

a:not(nav.navbar a) {
  color: var(--custom-color-2) !important;
}

a:visited:not(nav.navbar a),
a:active:not(nav.navbar a) {
  color: var(--custom-color-4) !important;
}

.carousel.slide .carousel-item {
  height: 400px;
}

.carousel.slide .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel.slide .carousel-item:nth-of-type(1) {
  background-image: url(https://img.freepik.com/premium-photo/banner-pink-planet-earth-sphere-ball-with-plants-greenery-pink-background-earth-day-ecology_218479-76.jpg);
}
.carousel.slide .carousel-item:nth-of-type(2) {
  background-image: url(https://img.freepik.com/premium-photo/banner-pink-planet-earth-sphere-ball-with-plants-greenery-pink-background-earth-day-ecology_218479-76.jpg);
}
.carousel.slide .carousel-item:nth-of-type(3) {
  background-image: url(https://img.freepik.com/premium-photo/banner-pink-planet-earth-sphere-ball-with-plants-greenery-pink-background-earth-day-ecology_218479-76.jpg);
}

.fa.fa-shopping-cart {
  position: relative;
  color: var(--custom-color-3);
  margin-top: 4px;
  z-index: 10;
}

.fa.fa-pagelines {
  position: absolute;
  color: green;
  top: 4;
  right: 10px;
  display: none;
}

.fa.fa-pagelines.show {
  display: inline-block;
}

#shopping-basket {
  position: relative;
}

#basket-items-count {
  position: absolute;
  top: 0;
  right: -6px;
  color: var(--custom-color-5);
}

#basket-items-count.two-digits {
  right: -13px;
}

.row img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container.products div.product-info {
  padding: 20px 10px;
  background-color: var(--custom-color-1);
}

.container.products div.product-info * {
  color: var(--custom-color-3);
}

.btn.btn-primary {
  color: var(--custom-color-3);
  background-color: var(--custom-color-2);
  border: none;
  transition: all 0.1s linear;
  border: 2px solid var(--custom-color-5);
  box-sizing: border-box !important;
  width: 140px;
  max-width: 140px;
  font-weight: bold;
}

.btn.btn-primary:hover {
  background-color: var(--custom-color-5);
  color: var(--custom-color-1) !important;
}

.product-card {
  border: 3px solid var(--custom-color-2);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.nav-link {
  border-bottom: 2px solid transparent;
  padding-bottom: 6px;
}

.nav-link.active {
  border-bottom: 2px solid var(--custom-color-3);
}

#login-form {
  max-width: 800px;
  margin: auto;
}

[href='/logout'] {
  display: none;
}

.basket-product-card {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
  /* justify-content: space-between; */
  width: 100%;
  border-top: 1px solid var(--custom-color-2);
  padding: 20px 0;
}

.basket-product-card:last-of-type {
  border-bottom: 1px solid var(--custom-color-2);
}

.basket-product-card img {
  width: 200px;
}

.basket-product-card .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basket-product-card .product-info [type='number'] {
  text-align: center;
  font-weight: bold;
  color: var(--custom-color-5) !important;
  margin: 0 10px;
  max-width: 80px;
}

.product-price {
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basket-product-card:first-of-type .product-price::before {
  content: 'Price';
  display: block;
  position: absolute;
  top: -50px;
  right: 0;
}

.order-controls {
  display: flex;
  gap: 16px;
}

.order-controls .btn.btn-primary {
  padding: 0 4px;
  height: 30px;
  max-width: 80px;
}

@media screen and (max-width: 900px) {
  .basket-product-card {
    display: flex;
    flex-direction: column;
  }

  .basket-product-card img {
    margin: 20px auto 30px;
    min-width: 60%;
  }

  .basket-product-card .product-info {
    height: 150px;
    text-align: center;
  }

  .basket-product-card:first-of-type .product-price::before,
  .product-price::before {
    content: 'Price';
    display: block;
    width: 240px;
    position: absolute;
    top: -50px;
    left: calc(50% - 120px);
    right: initial;
    border-bottom: 1px dashed var(--custom-color-5);
    padding-bottom: 10px;
  }

  .product-price {
    margin-top: 50px;
    text-align: center;
  }

  .order-controls {
    justify-content: center;
  }
}
